# Node dependencies
frontend/node_modules/
frontend/.vite/

# Python caches
**/__pycache__/
*.py[cod]

# Large Assets & Datasets (Crucial to avoid GitHub file limits)
assets/images/imagenette2-320/
assets/models/
assets/compacted_models/

# Environment & OS files
.env
.DS_Store
Thumbs.db